#OS
.DS_STORE
*.log

#dependencies
node_modules

#stats
coverage
webpack.stats.json

#build
dist
dist_server

#IDE
*.sublime-project
*.sublime-workspace
.idea
.vscode

antigen*

config-after.xml
config-before.xml

.out

.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
